.Header {
    display: flex;
    flex-grow: 1;

    &__toolbar {
        display: flex;
        justify-content: space-between;


        &__left-toolbar {
            display: flex;
            align-items: center;
        }
    }


    &__icon-button {
        margin: 2px;
    }

    &__app-title {
        align-content: center;
    }
}
